.AboutMe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}

.about-me-text h1 {
    text-align: center;
    font-size: 2.1rem;
}

.AboutMe-container > * {
    width:55%;
    
}

.about-me-text a {
    color: yellow;
    text-decoration: underline;
}

.about-me-text {
    background-color: rgba(0,0,0,0.7);
    color: white;
    border: white solid 1px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3%;
    font-size: 1.2rem;
    
}

.about-me-text p {
    text-align: justify;
}

.mobileScroll {
    display: none;
}


@media screen and (min-width: 820px) and (max-width: 1150px) {

    .AboutMe-container{
        width: 100%;
        
    }

    .AboutMe-container > * {
      width: 92%;
    }
  }


@media (orientation: portrait) {

.mobileScroll {
    display: block;
}

.AboutMe-container h1{
    font-size: 1.9rem;
}


.AboutMe-container {
    width: 85%;
}

.AboutMe-container p {
    font-size: 1.3rem;
}

.about-me-text {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
}

.about-me-text img{
    width: 12%;
    float: right;
    background-color: rgba(255, 255, 255, 0.5)
}

.about-me-text a {
    margin-left: 7%;
}


}

@media screen and (orientation: portrait) and (min-height: 750px) {

    .AboutMe-container h1 {
        font-size: 2.5rem;
    }

    .AboutMe-container  p{
        font-size: 1.7rem;
    }

    .AboutMe-container a {
        font-size: 1.5rem;
    }
}

@media screen and (orientation: portrait) and (min-height: 850px) {

    .AboutMe-container h1 {
        font-size: 2.6rem;
    }

    .AboutMe-container  p{
        font-size: 1.9rem;
    }
}

@media screen and (max-height: 450px) and (orientation: landscape) {

   

    .AboutMe-container > * {
        width:85%;
    }

    .AboutMe-container h1 {
        font-size: 1.9rem;
    }

    .AboutMe-container p {
        font-size: 1.2rem;
    }

}

