
.span {
    color: yellow;
}


.experiences-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiences-inner{
    background-color: rgba(0,0,0,0.7);
    width: 55%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3%;
    border: #04ADBF solid 1px;
    color: white;
    line-height: 1.5;
    text-align: justify;
}

.experiences-inner h1 {
    text-align: center;
}

.experiences-inner p{
    font-size: 1.25rem;
    
}


.footer {
    display: none;
}


@media screen and (min-width: 820px) and (max-width: 1150px) {

    .experiences-container{
        width: 105%;
        
    }

    .experiences-container > * {
      width: 92%;
    }
  }


@media  screen and (orientation: portrait) {
    .experiences-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .experiences-inner{
        width: 80%;
        padding-left: 4%;
        padding-right: 4%;
    }

    .footer{ 
        display: block;
    }

    .footer img {
        width: 12%;
        background-color: rgba(255,255,255,0.7);
        float: right;
    }

  

    
}

@media screen and (max-height: 450px) and (orientation: landscape) {

    .experiences-container > * {
        width:85%;
       
    }

    .experiences-container h1 {
        font-size: 1.9rem;
    }

    .experiences-container p {
        font-size: 1.2rem;
    }
}

@media screen and (max-height: 380px) and (orientation: landscape) {

    .experiences-container {
        margin-top: 32%;
    }
    

   
}